html {

  background: url(https://previews.123rf.com/images/fotoslaz/fotoslaz1505/fotoslaz150500003/40290080-open-air-hot-spring-spa-on-natural-background-in-sunset-time.jpg) no-repeat center fixed; 
  background-size: cover;
}

body {
    color: rgb(64, 64, 64);
    text-align: center;
    text-align: justify;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
